*{
    margin: 0px;
    padding: 0px;
}
/* header */
header{
    background: whitesmoke;
    height: 100px;
    padding: 10px;
}
img{
    margin-right: auto;
    cursor: pointer;
    float: left;
}

header .menu-head ul{
    float: right;
}

header .menu-head ul .menu{
    float: left;
    margin-top:10px;
    padding: 5px;
    padding-left: 10px;
    margin-right: 5px;
}
.menu{
    list-style: none;
}
.menu .element{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

header .menu-head .menu .element:hover{
    color: #cb1b2c;
    transition: .3s ease-out;
}
header .box{
    margin-left: 57%;
    border-bottom: black solid;
    float: right;
    margin-top: 30px;
}
header .box .element-box{
    text-decoration: none;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.box .search-box{
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
}
/* trang trí tìm kiếm */
.search-box[type="search"] {            
    box-sizing: border-box;
    width: 180px;
    border: 1px solid black;
    border-radius: 4px;
    outline:none;
}
/* end header */
/* nav */
nav{
    background: #1c1c1c;
    width: 100%;
    height: 17px;
    margin-bottom: 15px;
    display: block;
}
nav h4{
    line-height: 17px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
}
nav a{
    text-decoration: none;
    color: #5493bc;
}
nav a:hover{
    color: #cb1b2c;
}
/* end nav */
/* article top */
article .listtop{
    background-color: whitesmoke;
    height: 550px;
    margin-bottom: 20px;
    
}
article img{
    position:relative; 
}
article .active{
    position: absolute;
    left: 50%;
}
article iframe{
    background-color: #2b2b2b;
    
}
/* end article top */
/* article mid */
article .listmid{
    background: whitesmoke;
    width: 100%;
    height: 550px;
}
article .listmid img:hover{
    transform:scale(1.04) ;
}
/* end article mid */
/* content */
.content{
    background: white;
    height: 560px;
    width: 1200px;
}
h5{
    margin: 15px;
    padding: 0px 10px;
    text-align: center;
    display: block;
    color: darkred;
    width: 1269px;
    height: 26px;
    font-size: 17px;
    line-height: 26px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    width: 1269px;
    height: 56px;
    line-height: 56px;
    color: #2b2b2b;
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
} 
h3{
    margin-right: 10px;
    padding-left: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 35px;
    font-size: 22px;
    color: #2b2b2b;
}

.newfeed-img:hover{
    transform: scale(1.1);
}

p{
    color: dimgrey;
    font-size: 17px;
    margin: 20px;
}
.newfeed{
    width: 24%;
    float: left;
    padding: 0px;
    height: 581px;
    padding-left: 10px;
}
.newfeed .element-newfeed{
    color: firebrick;
    float:right;
}
.row:after {
    content: "";
    display: table;
    clear: both;
  }
/*  end content  */
.listmid{
    cursor: pointer;
}
/* listmid2 */
.listmid2{
    background: white;  
    height: 500px;
    width: 1200px;
    margin: 5px;
}
marquee{
    font-size: 35px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #2b2b2b;
}

.card{
    float: left;
    width: 25%;
    height: 350px;
}
h6{
    float: left;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    padding-left: 45px;
}
.card-img{
    width: 90%;
    height: 80%;
    padding: 5px;
}
.card .element-card{
    float: left;
    padding: 60px 0px;
    color: firebrick;
    font-weight: 700;
    text-decoration: none;
    font-size: 20px;
}
.element-card:hover{
    color: darkred;
}
/*  */
footer{
    background: #1c1c1c;
    height: 300px;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid_column_2_4{
    padding: 0px 6px;
    width: 19%;
}
.footer_heading{
    margin-top: 0px;
}
.footer_list{
    list-style: none;
    
}
.footer-item_link{
    text-decoration: none;
    color: #7d9bc6;
    line-height: 50px;
    padding-left: 15px;
}
.footer-item_link:hover{
    color: darkred;
    transition: 0.2s ease-in;
}
.mtcondition{
    text-align: center;
}