*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: whitesmoke;
}
/* header */
header{
    height: 40px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    display: block;
}
h2{
    padding-left: 15px;
    margin: 10px 0px;
    float: left;
}
ul li{
    float: left;
    margin: 15px 0px;
    padding-left: 10px;
    list-style: none;
}
ul li .men-menu{
    color: black;
    text-decoration: none;
    font-size: 15px;
}
ul li .men-menu:hover{
    color: firebrick;
}
/* end header */
/* nav */
nav{
    display: block;
    position: relative;
}
nav img{
    width: 100%;
    position: relative;
}
nav .nav-detail{
    position: absolute;
    top: 200px;
    left: 30px;
}
nav .nav-detail{
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
nav .nav-detail h1{
    font-size: 50px;
}
nav .nav-detail h5{
    margin: 0px;
    padding-left: 3px;
    font-size: 14px;
}
nav .nav-detail input{
    margin: 10px 3px;
    padding: 15px 20px;
    font-weight: 700;
}
/* end nav */
/* body */
/* top */
body .body-top{
    margin: 30px 0px;
    width: 100%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    height: 500px;
    padding-left: 15px;
}
body .body-top .card-top{
    width: 30%;
    float: left;
    height: 500px;
    margin: 0px 15px;
}
body .body-top .card-top img{
    width: 100%;
    height: 285px;
    cursor: pointer;
}
body .body-top .card-top h2{
    text-align: center;
    font-size: larger;
    margin: 5px 70px;
    font-family: Arial, Helvetica, sans-serif;
}
body .body-top .card-top p{
    text-align: center;
    margin: 20px 40px;
}
body .body-top .card-top .active{
    margin-bottom: 65px;
}
body .body-top .card-top .button-control{
    margin: 10px 3px;
    padding: 15px 20px;
    font-weight: 700;
}
body .body-top .card-top input{
    margin: 5px 3px;
    padding: 15px 20px;
    font-weight: 700;  
}

/* end top */
/* article */
article .mid-body{
    width: 100%;
    height: 675px;
    text-align: center;
    margin: 5px;
    padding: 0px;
}
article .mid-body iframe{
    margin: 10px 0px;
}
article .mid-body .vd:focus{
    color: firebrick;
}
/* end article */
/* end body */
.container{
    clear: both;

}
